.changePage {
	display: flex;
	flex-flow: column;

	&__title {
		font-size: x-large;
		color: #004157;
		align-self: center;
	}

	&__form {
		&__field {
			margin: 10px auto;
			width: 100%;

			label {
				font-weight: 600;
			}
		}

		&__status {
			border-radius: 5px;
			padding: 17px;
			width: 100%;
			font-size: 14px;
			margin-bottom: 20px;

			ul {
				margin: 15px 0 0 15px;

				li {
					display: flex;
					align-items: center;
					margin: 2px 0;

					svg {
						margin-right: 10px;
					}
				}
			}

			h2 {
				font-weight: 600;
			}
		}
		&__status--info {
			color: #3a87ad;
			background-color: #d9edf7;
			border-color: #bce8f1;
		}

		&__status--invalid {
			color: #b94a48;
			background-color: #f2dede;
			border-color: #ebccd1;
		}

		&__button {
			display: flex;
			justify-content: right;
		}
	}
}
