#header {
	height: 5rem;
	background-color: rgb(219, 219, 219);
	padding: 1rem;
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header button {
	width: auto;
	height: auto;
	background-color: #7c3aed;
	outline: none;
	border: none;
	color: white;
	font-size: 1rem;
	padding: 0.5rem;
	font-weight: bold;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.3s;
}

#header button:hover {
	background-color: #8b5cf6;
	transition: 0.5s;
}
