:root {
	--bigger-row-height: calc(100vh - 5rem);
}

#base__gridconfig {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto;
	grid-template-areas: 'header' 'content';
}

#base__header {
	grid-area: header;
}

#base__content {
	display: flex;
	height: auto;
	width: auto;
	min-height: 20rem;
	justify-content: center;
	align-items: center;
	grid-area: content;
}

.base__links {
	width: 4rem;
	height: 2.5rem;
	text-decoration: none;
	background-color: #1d4ed8;
	outline: none;
	border: none;
	color: white;
	font-size: 1rem;
	padding: 0.5rem;
	font-weight: bold;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.3s;
}

.base__links:hover {
	background-color: #2563eb;
	transition: 0.5s;
}
