.tokenPage {
	display: flex;
	flex-flow: column;

	&__title {
		font-size: x-large;
		color: #004157;
		align-self: center;
	}

	&__inputText {
		font-size: larger;
		text-align: center;
	}
	&__input {
		padding: 7px;

		input {
			height: 56px;
			padding: 16px 0;
			font-size: 40px;
			text-align: center;
			width: 100%;
		}
	}
	&__buttons {
		display: flex;
		justify-content: center;
		margin: 15px auto;

		button {
			margin: auto 5px;
		}
	}
	&__info {
		font-size: larger;
		text-align: center;
	}
}
